extend main

block header
  h3 Password Change Required

block content
  .row.justify-content-center

  form(name='resetPasswordForm', method='post', action='/resetPassword')
    .inputs
      div.form-group
        label(for='email') Email
        input.form-control(type='email', name='email')

      div.form-group
        label(for='password1') New Password
        input.form-control(type='password', name='password1')

      div.form-group
        label(for='password2') Confirm New Password
        input.form-control(type='password', name='password2')

    if messages
      each message in messages
        .message
          p=message.text

    .button
      input(type='submit', value='Reset Password')

block footer
  p Powered by
  img.logo(src='/public/img/exesios-logo.png')
  p.copyrightInfo
    span.version=version
    |  ©
    a(href='https://www.exesios.com/')  Exesios
